<!DOCTYPE html>
<html>
  <head>
    <title><%= @genre.name %> </title>
  </head>
  <body>
    <h1><%= @genre.name %> </h1>
    <h2>Artists:
    <% @genre.artists.each do |artist| %>
      <%= artist.name %>
      <%= artist.to_slug %>
    <% end %>
    </h2>
    <h2>Songs:
      <% @genre.songs.each do |song| %>
        <%= song.name %>
      <% end %>
    </h2>
  </body>
</html>
